{% load formset_tags %}

<div class="panel panel-info">
    <div class="panel-heading">Учредители компании</div>
    <div class="panel-body" >
        <div class="container-fluid">
            <div class="row formset" data-formset-prefix="{{ formset_physical.prefix }}">

                {{ formset_physical.management_form }}

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}

                        <tr data-formset-form>
                            <td class="h6">
                                {{ formset_physical.empty_form.id }}
                                {{ formset_physical.empty_form.fio }}
                            </td>
                            <td class="h6">{{ formset_physical.empty_form.auth_capital_percentage }}</td>

                            <td class="h6">
                                {{ formset_physical.empty_form.DELETE }}
                                <button type="button" class="btn btn-link btn-xs" data-formset-delete-button>
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                </button>
                            </td>
                        </tr>

                    {% endescapescript %}
                </script>

                <span class="h4">Физические лица</span>
                <table class="table">
                    <tr>
                        <th class="h6 col-md-6"><b>ФИО</b></th>
                        <th class="h6 col-md-5"><b>Доля в УК</b></th>
                        <th class="col-md-1">&nbsp;</th>
                    </tr>
                    <tbody data-formset-body>
                    {% for form in formset_physical %}
                        <tr data-formset-form>
                            <td class="h6">
                                {{ form.id }}
                                {{ form.fio.value }}
                            </td>
                            <td class="h6">{{ form.auth_capital_percentage.value }}</td>
                            <td class="h6">
                                {{ form.DELETE }}
                                <button type="button" class="btn btn-link btn-xs" data-formset-delete-button>
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <td colspan="8" class="text-center">
                            <button type="button" class="btn btn-primary" data-formset-add>
                                Добавить физическое лицо
                            </button>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="row formset" data-formset-prefix="{{ formset_legal.prefix }}">

                {{ formset_legal.management_form }}

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}

                        <tr data-formset-form>
                            <td class="h6">
                                {{ formset_legal.empty_form.id }}
                                {{ formset_legal.empty_form.name }}
                            </td>
                            <td class="h6">{{ formset_legal.empty_form.auth_capital_percentage }}</td>
                            <td class="h6">
                                {{ formset_legal.empty_form.DELETE }}
                                <button type="button" class="btn btn-link btn-xs" data-formset-delete-button>
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                </button>
                            </td>
                        </tr>

                    {% endescapescript %}
                </script>

                <span class="h4">Юридические лица</span>
                <table class="table">
                    <tr>
                        <th class="h6 col-md-6"><b>Наименование</b></th>
                        <th class="h6 col-md-5"><b>Доля в УК</b></th>
                        <th class="col-md-1">&nbsp;</th>
                    </tr>
                    <tbody data-formset-body>
                    {% for form in formset_legal %}
                        <tr data-formset-form>
                            <td class="h6">
                                {{ form.id }}
                                {{ form.name.value }}
                            </td>
                            <td class="h6">{{ form.auth_capital_percentage.value }}</td>
                            <td class="h6">
                                {{ form.DELETE }}
                                <button type="button" class="btn btn-link btn-xs" data-formset-delete-button>
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <td colspan="7" class="text-center">
                            <button type="button" class="btn btn-primary" data-formset-add>
                                Добавить юридическое лицо
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>