{% include 'marer/products/BankGuarantee/form_org_common.html' with form=form_org_common %}
{% include 'marer/products/BankGuarantee/form_org_head.html' with form=form_org_head %}
{% include 'marer/products/BankGuarantee/form_org_management.html' with formset_collegial=formset_org_management_collegial formset_directors=formset_org_management_directors formset_others=formset_org_management_others %}
{% include 'marer/products/BankGuarantee/form_org_bank_accounts.html' with formset=bank_accounts_formset %}
{% if issue.tender_exec_law == consts.TENDER_EXEC_LAW_COMMERCIAL %}
    {% include 'marer/products/BankGuarantee/form_pledge.html' with formset=formset_pledges %}
{% endif %}
{% include 'marer/products/BankGuarantee/form_org_founders.html' with formset_physical=formset_founders_physical formset_legal=formset_founders_legal %}
{% include 'marer/products/BankGuarantee/test.html' with formset=beneficiary_owners_formset %}
