{% include 'marer/products/BankGuarantee/form_org_common.html' with form=form_org_common %}
{% include 'marer/products/BankGuarantee/form_org_head.html' with form=form_org_head %}
{% if issue.tender_exec_law == consts.TENDER_EXEC_LAW_COMMERCIAL %}
    {% include 'marer/products/BankGuarantee/form_pledge.html' with formset=formset_pledges %}
{% endif %}
{% include 'marer/products/BankGuarantee/form_org_founders.html' with formset_physical=formset_founders_physical formset_legal=formset_founders_legal %}
{% include 'marer/products/BankGuarantee/form_org_affiliates.html' with formset=affiliates_formset %}
