{% load formset_tags %}

<div class="panel panel-info">
    <div class="panel-heading">Бенефициарные владельцы компании</div>
    <div class="panel-body formset" data-formset-prefix="{{ formset.prefix }}">
        <div class="container-fluid">
            <div class="row">

                {{ formset.management_form }}

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}

                        <tr data-formset-form>
                            <td class="h6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>ФИО</b>
                                        {{ formset.empty_form.id }}
                                        {{ formset.empty_form.fio }}
                                    </div>
                                    <div class="col-md-6">
                                        <b>ИНН/СНИЛС (при наличии)</b>
                                        {{ formset.empty_form.inn_or_snils }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <b>Адрес регистрации</b>
                                        {{ formset.empty_form.legal_address }}
                                    </div>
                                    <div class="col-md-4">
                                        <b>Фактический адрес</b>
                                        {{ formset.empty_form.fact_address }}
                                    </div>
                                    <div class="col-md-4">
                                        <b>Почтовый адрес</b>
                                        {{ formset.empty_form.post_address }}
                                    </div>
                                </div>
                            <td>
                                <div class="row">
                                    <div class="col-md-1">
                                        {{ formset.empty_form.DELETE }}
                                        <button type="button" class="btn btn-link btn-xs" data-formset-delete-button>
                                            <span class="glyphicon glyphicon-remove text-danger"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endescapescript %}
                </script>

                <table class="table">
                    <tbody data-formset-body>
                    {% for form in formset %}
                        <tr data-formset-form>
                            <td class="h6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>ФИО</b>
                                        {{ form.id }}
                                        {{ form.fio }}
                                    </div>
                                    <div class="col-md-6">
                                        <b>Адрес регистрации</b>
                                        {{ form.inn_or_snils }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <b>Адрес регистрации</b>
                                        {{ form.legal_address }}
                                    </div>
                                    <div class="col-md-4">
                                        <b>Фактический адрес</b>
                                        {{ form.fact_address }}
                                    </div>
                                    <div class="col-md-4">
                                        <b>Почтовый адрес</b>
                                        {{ form.post_address }}
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-1">
                                        {{ form.DELETE }}
                                        <button type="button" class="btn btn-link btn-xs" data-formset-delete-button>
                                            <span class="glyphicon glyphicon-remove text-danger"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <td colspan="7" class="text-center">
                            <button type="button" class="btn btn-primary" data-formset-add>
                                Добавить бенефициарного владельца
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>