{% load formset_tags %}

<div class="panel panel-info">
    <div class="panel-heading">Бенефициарные владельцы компании</div>
    <div class="panel-body formset" data-formset-prefix="{{ formset.prefix }}">
        <div class="container-fluid">
            <div class="row">

                {{ formset.management_form }}

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}

                        <tr data-formset-form>
                            <td class="h6">
                                {{ formset.empty_form.id }}
                                {{ formset.empty_form.fio }}
                            </td>
                            <td class="h6">{{ formset.empty_form.inn_or_snils }}</td>
                            <td class="h6">{{ formset.empty_form.legal_address }}</td>
                            <td class="h6">{{ formset.empty_form.fact_address }}</td>
                            <td class="h6">{{ formset.empty_form.post_address }}</td>
                            <td class="h6">{{ formset.empty_form.on_belong_to_pub_persons_info }}</td>
                            <td class="h6">
                                {{ formset.empty_form.DELETE }}
                                <button type="button" class="btn btn-link btn-xs" data-formset-delete-button>
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                </button>
                            </td>
                        </tr>

                    {% endescapescript %}
                </script>

                <table class="table">
                    <tr>
                        <th class="h6 col-md-2"><b>ФИО</b></th>
                        <th class="h6 col-md-2"><b>ИНН/СНИЛС (при наличии)</b></th>
                        <th class="h6 col-md-2"><b>Адресс регистрации</b></th>
                        <th class="h6 col-md-2"><b>Фактический адрес</b></th>
                        <th class="h6 col-md-2"><b>Почтовый адрес</b></th>
                        <th class="h6 col-md-2"><b>Сведения о принадлежности к публичным лицам</b></th>
                        <th class="col-md-1">&nbsp;</th>
                    </tr>
                    <tbody data-formset-body>
                    {% for form in formset %}
                        <tr data-formset-form>
                            <td class="h6">
                                {{ form.id }}
                                {{ form.fio }}
                            </td>
                            <td class="h6">{{ form.inn_or_snils }}</td>
                            <td class="h6">{{ form.legal_address }}</td>
                            <td class="h6">{{ form.fact_address }}</td>
                            <td class="h6">{{ form.post_address }}</td>
                            <td class="h6">{{ form.on_belong_to_pub_persons_info }}</td>
                            <td class="h6">
                                {{ form.DELETE }}
                                <button type="button" class="btn btn-link btn-xs" data-formset-delete-button>
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <td colspan="7" class="text-center">
                            <button type="button" class="btn btn-primary" data-formset-add>
                                Добавить бенефициарного владельца
                            </button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>