{% extends 'marer/issue/layout.html' %}

{% load staticfiles %}

{% block issue_content %}

    <script type="text/javascript">
        var filesB64ForSign = [];
    </script>

    <div class="panel panel-info">
        <div class="panel-heading">Дозапросы</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="h3">Запросы</div>
                        {% if issue.clarifications.exists %}
                        <table class="table">
                            <tr>
                                <th>Номер</th>
                                <th>Инициатор</th>
                                <th>Дата изменения</th>
                            </tr>
                            {% for clarification in issue.clarifications.all %}
                                <tr>
                                    <td class="col-sm-1 h6">
                                        <a href="{% url 'issue_additional_documents_request' issue.id clarification.id %}">
                                            {{ clarification.id }}
                                        </a>
                                    </td>
                                    <td class="col-sm-5 h6">{{ clarification.get_initiator_display }}</td>
                                    <td class="col-sm-6 h6">{{ clarification.updated_at }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                            <p class="text-center">Нет запросов</p>
                        {% endif %}
                        <div class="row text-center">
                            <form action="{% url 'issue_additional_documents_request_new' issue.id %}">
                                <input type="hidden" name="pid" value="{{ propose.id }}" />
                                <button type="submit" class="btn btn-primary">Добавить запрос</button>
                            </form>
                        </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
