{% extends 'marer/issue/layout.html' %}

{% block issue_content %}

    <div class="panel {% if issue.final_decision == True %}panel-success{% elif propose.final_decision == False %}panel-danger{% endif %}">
        <div class="panel-heading">
            Итоговые документы по заявке
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert {% if issue.final_decision == True %}alert-info{% elif issue.final_decision == False %}alert-danger{% endif %} text-center">
                            <span class="h1">
                                {% if issue.final_decision == True %}
                                    Банковская гарантия выдана
                                {% elif issue.final_decision == False %}
                                    Банковская гарантия не выдана
                                {% else %}
                                    Решение по заявке еще не принято
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if issue.final_documents.exists %}
                            <div class="h4">Документы</div>
                            <table class="table">
                                {% for findoc in issue.final_documents.all %}
                                    <tr>
                                        <td>
                                            <a href="{{ findoc.document.file.url }}">
                                                {{ findoc.name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <div class="h2 text-muted">Документы отсутствуют</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
