{% extends 'marer/issue/layout.html' %}

{% block issue_content %}
    {% for propose in formalizing_proposes %}
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#panel{{ propose.id }}">
                {{ propose.finance_org.name }}
            </div>
            <div class="panel-body collapse" id="panel{{ propose.id }}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">Пакет документов</div>
                            <table class="table">
                                {% for formdoc in propose.formalize_documents.all %}
                                    <tr>
                                        <td>
                                            <a href="{{ formdoc.document.file.url }}">
                                                {{ formdoc.name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-info">
                                {{ propose.formalize_note |linebreaks }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
