{% extends 'marer/layout.html' %}

{% load staticfiles %}

{% block head_additional %}
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static '/marer/css/sticky-navbar.css' %}" rel="stylesheet">
    <link href="{% static '/marer/css/sticky-footer.css' %}" rel="stylesheet">
    <link href="{% static '/marer/css/btn-yellow.css' %}" rel="stylesheet">
    <link href="{% static '/marer/css/body-bgnd.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/dist/static/css/app.css' %}" rel=stylesheet>
    <link href="{% static '/marer/css/suggestions.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'marer/img/logo_sgb.png' %}" height="25"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="?logout">Выход</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            {% if issue and issue.id %}
                <h1 class="text-center">Заявка №{{ issue.humanized_id }}</h1>
                <div class="h4 text-center"><b>{{ issue.get_product.humanized_name }}</b>
                    {% if issue.issuer_short_name %}для <b>{{ issue.get_issuer_name }}</b>{% endif %}
                    {% if issue.bg_sum %}на сумму <b>{{ issue.humanized_sum }}</b>{% endif %}
                </div>
            {% else %}
                <h1 class="text-center">Новая заявка</h1>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">

                {% if survey_template %}
                    <form method="post" class="spinjs-submit">
                        {% csrf_token %}
                        {% include survey_template %}
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Сохранить черновик</button>
                                &nbsp;
                                <button class="btn btn-success" type="submit" name="action" value="fill_application_doc">
                                    Сформировать заявление для подписания
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}

            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
    </div>

    {% include 'marer/footer.html' %}
    {% include 'marer/boostrap_js_body_part.html' %}

    <script type="text/javascript">
        $(function($) {

            $('input[name=issuer_fact_address]').addClass('req');
            $('select[name=tax_system]').addClass('req');
            $('input[name=issuer_accountant_org_or_person]').addClass('req');
            $('input[name=avg_employees_cnt_for_prev_year]').addClass('req');
            $('input[name=issuer_head_passport_series]').addClass('req');
            $('input[name=issuer_head_passport_number]').addClass('req');
            $('input[name=issuer_head_passport_issue_date]').addClass('req');
            $('input[name=issuer_head_residence_address]').addClass('req');
            $('input[name=issuer_head_passport_issued_by]').addClass('req');


            $('.req').on('change', function (evt) {
                update_send_button_is_available();
            });

            $('.tr-crt').on('click', function () {
                update_send_button_is_available();
            });

            $('body').on('keyup', function (evt) {
                update_send_button_is_available();
            });

            update_send_button_is_available();

            function update_send_button_is_available() {
                var requiredFields = $('.req');
                var requiredFieldsFilled = true;
                var reqField;
                for (reqField = 0; reqField < requiredFields.length; reqField++) {
                    if (!requiredFields[reqField].value) {
                        requiredFieldsFilled = false;
                        break;
                    }
                }
                if (requiredFieldsFilled) {
                    $('button[type=submit].btn-success').prop('disabled', false);
                } else {
                    $('button[type=submit].btn-success').prop('disabled', true);
                }
            }

            update_send_button_is_available();
        });
    </script>

    <script type=text/javascript src="{% static 'frontend/dist/static/js/manifest.js' %}"></script>
    <script type=text/javascript src="{% static 'frontend/dist/static/js/vendor.js' %}"></script>
    <script type=text/javascript src="{% static 'marer/js/common.js' %}"></script>
    <script type=text/javascript src="{% static 'frontend/dist/static/js/app.js' %}"></script>

{% endblock %}