{% extends 'marer/issue/layout.html' %}

{% block issue_content %}
<table class="table table-hover table-condensed">
    <tr>
        <th class="bg-primary">&nbsp;</th>
        <th class="bg-primary">Процентная<br/>ставка</th>
        <th class="bg-primary">Обеспечение</th>
        <th class="bg-primary">Срок<br/>рассмотрения</th>
        <th class="bg-primary">Открытие<br/>р/с</th>
        <th class="bg-primary">Личное<br/>присутствие</th>
        <th class="bg-primary text-center">
            Заявка
            <a href="#" class="btn btn-info btn-xs">Отправить всем</a>
        </th>
    </tr>
    {% for foc in foc_list %}
        <tr>
            <td>{{ foc.finance_org.name }}</td>
            {# using bg_44_contract_exec_ as prefix for stub list #}
            <td>{{ foc.bg_44_contract_exec_interest_rate }}%</td>
            <td>{{ foc.humanized_bg_insurance }}</td>
            <td>{{ foc.humanized_bg_review_tern_days }}</td>
            <td>{{ foc.humanized_bg_bank_account_opening_required }}</td>
            <td>{{ foc.humanized_bg_personal_presence_required }}</td>
            <td class="text-center"><a href="#" class="btn btn-info btn-xs">Отправить</a></td>
        </tr>
    {% endfor %}
</table>

<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
</nav>
{% endblock %}
