{% extends 'marer/issue/layout.html' %}

{% block issue_content %}
    <div class="panel panel-info">
        <div class="panel-heading">Резултьтаты прохождения экспресс-анализа</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success h1 text-center">Анализ пройден</div>
{#                    <div class="alert alert-danger h1 text-center">Анализ не пройден</div>#}
                </div>
                <div class="col-md-6">
                    <div class="h1 text-center">
                        Комиссия банка
                        <br/>
                        100500 руб.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-lg">
                            Подписать и отправить заявку
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
