{% extends 'marer/issue/layout.html' %}

{% block issue_content %}

    <form method="post">

        {% include 'marer/products/BankGuarantee/form_org_common.html' %}
        {% include 'marer/products/BankGuarantee/form_org_head.html' %}
        {% include 'marer/products/BankGuarantee/form_org_founders.html' %}
        {% include 'marer/products/BankGuarantee/form_org_affiliates.html' %}

        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </div>
    </form>


{% endblock %}
