{% extends 'marer/issue/layout.html' %}

{% block issue_content %}

    {% if survey_template %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {% if issue.status == consts.ISSUE_STATUS_REVIEW %}
                        <div class="alert alert-success h1 text-center">Заявка на рассмотрении</div>
                    {% elif issue.passed_prescoring %}
                        <div class="alert alert-success h1 text-center">Стоп-факторы пройдены</div>
                    {% else %}
                        <div class="alert alert-danger h1 text-center">Стоп-факторы не пройдены</div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="h1 text-center">
                        Комиссия банка
                        <br/>
                        {% if issue.passed_prescoring %}
                            {{ issue.bank_commission |floatformat:2 }} руб.
                        {% else %}
                            <span class="text-danger h3">Не в рамках продукта</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    {% if not request.user.cert_hash or request.user.cert_hash == '' %}
                        <div class="well well-sm text-center">
                            Ссылка для дополнения информации клиентом:
                            <strong>
                                http://sgbmarertest.ru{% url 'issue_remote_survey' issue.id %}
                            </strong>
                            <a class="btn btn-link btn-xs" href="{% url 'issue_remote_for_sign' issue.id %}" target="_blank">
                                <span class="glyphicon glyphicon glyphicon-new-window"></span>
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>
            {% include survey_template %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary spinjs" type="submit">Далее</button>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}
