{% extends 'marer/issue/layout.html' %}

{% block issue_content %}

    {% if survey_template %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {% if issue.status == consts.ISSUE_STATUS_REVIEW %}
                        <div class="alert alert-success h1 text-center">Заявка на рассмотрении</div>
                    {% elif issue.passed_prescoring %}
                        <div class="alert alert-success h1 text-center">Стоп-факторы пройдены</div>
                    {% else %}
                        <div class="alert alert-danger h1 text-center">Стоп-факторы не пройдены</div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="h1 text-center">
                        Комиссия банка
                        <br/>
                        {% if issue.passed_prescoring %}
                            {{ issue.bank_commission |floatformat:2 }} руб.
                        {% else %}
                            <span class="text-danger h3">Не в рамках продукта</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    {% if not request.user.cert_hash or request.user.cert_hash == '' %}
                        <div class="well well-sm dang text-center">
                            <strong>
                            Ссылка для клиента для заполнения анкеты и её подписания:
                            </strong>
                                http://sgbmarertest.ru{% url 'issue_remote_survey' issue.id %}
                            <a class="btn btn-link btn-xs" href="{% url 'issue_remote_survey' issue.id %}" target="_blank">
                                <span class="glyphicon glyphicon glyphicon-new-window"></span>
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm warn text-center pointer" data-toggle="collapse" data-target="#open0">
                        Заполнить самостоятельно
                        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                    </div>
                    <div class="collapse" id="open0">
                        {% include survey_template %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary spinjs" name="action" value="save" type="submit">Сохранить черновик</button>
                    &nbsp;
                    <button class="btn btn-success spinjs" name="action" value="next" type="submit">Далее</button>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function($) {

            $('input[name=issuer_fact_address]').addClass('req');
            $('select[name=tax_system]').addClass('req');
            $('input[name=issuer_accountant_org_or_person]').addClass('req');
            $('input[name=avg_employees_cnt_for_prev_year]').addClass('req');
            $('input[name=issuer_head_passport_series]').addClass('req');
            $('input[name=issuer_head_passport_number]').addClass('req');
            $('input[name=issuer_head_passport_issue_date]').addClass('req');
            $('input[name=issuer_head_residence_address]').addClass('req');
            $('input[name=issuer_head_passport_issued_by]').addClass('req');


            $('.req').on('change', function (evt) {
                update_send_button_is_available();
            });

            function update_send_button_is_available() {
                var requiredFields = $('.req');
                var requiredFieldsFilled = true;
                var reqField;
                for (reqField = 0; reqField < requiredFields.length; reqField++) {
                    if (!requiredFields[reqField].value) {
                        requiredFieldsFilled = false;
                        break;
                    }
                }
                if (requiredFieldsFilled) {
                    $('button[type=submit].btn-success').prop('disabled', false);
                } else {
                    $('button[type=submit].btn-success').prop('disabled', true);
                }
            }

            update_send_button_is_available();
        });
    </script>
{% endblock %}
