{% extends 'marer/layout.html' %}

{% load staticfiles %}

{% block head_additional %}
    <link href="{% static '/marer/css/sticky-navbar.css' %}" rel="stylesheet">
    <link href="{% static '/marer/css/sticky-footer.css' %}" rel="stylesheet">
    <link href="{% static '/marer/css/btn-yellow.css' %}" rel="stylesheet">
    <link href="{% static '/marer/css/body-bgnd.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/dist/static/css/app.css' %}" rel=stylesheet>
    <link href="{% static '/marer/css/suggestions.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'marer/img/logo_sgb.png' %}" height="25"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}">
                                <span class="text-primary">Управление</span>
                                <span class="glyphicon glyphicon-briefcase text-primary"></span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'cabinet_requests' %}">
                            <span class="text-primary">{{ request.user.get_full_name }}</span>
                            <span class="glyphicon glyphicon-user text-primary"></span>
                        </a>
                    </li>
                    <li><a href="{% url 'logout' %}">Выход</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {% block cabinet_content %}{% endblock %}
    {% include 'marer/footer.html' %}
    {% include 'marer/boostrap_js_body_part.html' %}

    <script type=text/javascript src="{% static 'frontend/dist/static/js/manifest.js' %}"></script>
    <script type=text/javascript src="{% static 'frontend/dist/static/js/vendor.js' %}"></script>
    <script type=text/javascript src="{% static 'marer/js/common.js' %}"></script>
    <script type=text/javascript src="{% static 'frontend/dist/static/js/app.js' %}"></script>
    {% block js %}{% endblock %}

{% endblock %}
