{% extends 'marer/cabinet/layout_dashboard.html' %}

{% block cabinet_dashboard_content %}
<div class="panel panel-primary">
    <table class="table">
        <tr class="bg-primary">
            <th>Название</th>
            <th>ИНН</th>
            <th>КПП</th>
            <th>ОГРН</th>
            <th></th>
        </tr>
        {% for issuer in issuers %}
            <tr>
                <td>{{ issuer.get_name }}</td>
                <td>{{ issuer.inn }}</td>
                <td>{{ issuer.kpp }}</td>
                <td>{{ issuer.ogrn }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="iid" value="{{ issuer.id }}"/>
                        <button type="submit" class="btn btn-link btn-xs">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
