{% extends 'marer/cabinet/layout_dashboard.html' %}
{% load marer_cabinet %}

{% block cabinet_dashboard_content %}
    <div class="pull-right">
        &nbsp;
        &nbsp;
        <div class="btn-group" role="group" aria-label="Статус заявки">
            <a class="btn btn-yellow" href="{% url 'issue_new' %}" role="button">Создать заявку</a>
        </div>
    </div>
    <div class="pull-right">
        <form class="form-inline">
            <div class="form-group">
                <label>{{ filter_form.status.label }}</label>
                {{ filter_form.status }}
            </div>
        </form>
    </div>
<div class="clearfix"></div>
<br/>

<div class="panel panel-info">
    <table class="table">
        <tr class="bg-info">
            <th><a href="?{% if request.GET.order_by != '-id' %}order_by={% if request.GET.order_by == 'id'%}-{% endif %}id{% endif %}">Номер</a></th>
            <th><a href="?{% if request.GET.order_by != '-issuer_full_name' %}order_by={% if request.GET.order_by == 'issuer_full_name' %}-{% endif %}issuer_full_name{% endif %}">Организация</a></th>
            <th><a href="?{% if request.GET.order_by != '-bg_sum' %}order_by={% if request.GET.order_by == 'bg_sum' %}-{% endif %}bg_sum{% endif %}">Сумма</a></th>
            <th><a href="?{% if request.GET.order_by != '-status' %}order_by={% if request.GET.order_by == 'status' %}-{% endif %}status{% endif %}">Статус</a></th>
            <th><a href="?{% if request.GET.order_by != '-created_at' %}order_by={% if request.GET.order_by == 'created_at' %}-{% endif %}created_at{% endif %}">Дата заведения заявки</a></th>
            <th><a href="?{% if request.GET.order_by != '-comment' %}order_by={% if request.GET.order_by == 'comment' %}-{% endif %}comment{% endif %}">Последний комментарий</a></th>
            <th></th>
        </tr>

        {% for issue in issues %}
            {% if issue.humanized_status == 'Оформление заявки' %}
                <tr class="bg-warning">
            {% elif issue.humanized_status == 'Завершена' %}
                <tr class="bg-success">
            {% elif issue.humanized_status == 'Отменена' %}
                <tr class="bg-danger">
            {% else %}
                <tr>
            {% endif %}
            <td>
                <a href="{% url 'cabinet_request' issue.id %}">{{ issue.humanized_id }}</a>
            </td>
                <td>{{ issue.get_issuer_name }}</td>
                <td>{{ issue.humanized_sum }}</td>
                <td>{{ issue.humanized_status }}</td>
                <td>{{ issue.created_at }}</td>
                <td>{% get_last_comment issue request.user %}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="issue_del" value="true" />
                        <input type="hidden" name="id" value="{{ issue.id }}"/>
                        <button type="submit" class="btn btn-link btn-xs pull-right">
                            <span class="text-danger">Удалить</span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% if issues.has_other_pages %}
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            {% if issues.has_previous %}
                <li>
                    {% if issues.contacts.previous_page_number == 1 %}
                        <a href="{% url 'cabinet_requests' %}{{ get_params_as_new }}" aria-label="Previous">
                            <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-left"></span>
                        </a>
                    {% else %}
                        <a href="{% url 'cabinet_requests' %}?page={{ issues.previous_page_number }}{{ get_params_as_addition }}" aria-label="Previous">
                            <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-left"></span>
                        </a>
                    {% endif %}
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-left"></span>
                </li>
            {% endif %}
            {% for pagenum in issues.paginator.page_range %}
                <li {% if issues.number == pagenum %}class="active"{% endif %}>
                    <a
                            {% if pagenum == 1 %}
                                href="{% url 'cabinet_requests' %}{{ get_params_as_new }}"
                            {% else %}
                                href="{% url 'cabinet_requests' %}?page={{ pagenum }}{{ get_params_as_addition }}"
                            {% endif %}
                    >{{ pagenum }}</a>
                </li>
            {% endfor %}
            {% if issues.has_next %}
                <li>
                    <a href="{% url 'cabinet_requests' %}?page={{ issues.next_page_number }}{{ get_params_as_addition }}" aria-label="Next">
                        <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-right"></span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('body').on('change', '#id_status', function (e) {
                $(this).closest('form').submit();
            })
        });
    </script>

{% endblock %}
