{% extends 'marer/cabinet/layout_dashboard.html' %}

{% block cabinet_dashboard_content %}
<div class="pull-right">
    <form style="display: inline">
        <div class="btn-group" role="group">
            <label>{{ filter_form.fpgrp.label }}</label>
        </div>
        <div class="btn-group" role="group" aria-label="{{ filter_form.fpgrp.label }}">
            {{ filter_form.fpgrp }}
        </div>
        <div class="btn-group" role="group">
            <label>{{ filter_form.status.label }}</label>
        </div>
        <div class="btn-group" role="group" aria-label="{{ filter_form.status.label }}">
            {{ filter_form.status }}
        </div>
    </form>
    <div class="btn-group" role="group" aria-label="Статус заявки">
        <a class="btn btn-primary" href="{% url 'issue_new' %}" role="button">Создать заявку</a>
    </div>
</div>
<div class="clearfix"></div>
<br/>

<div class="panel panel-primary">
    <table class="table">
        <tr class="bg-primary">
            <th>Номер</th>
            <th>Организация</th>
            <th>Вид заявки</th>
            <th>Сумма</th>
            <th>Статус</th>
        </tr>

        {% for issue in issues %}
        <tr>
            <td>
                <a href="{% url 'cabinet_request' issue.id %}">{{ issue.humanized_id }}</a>
            </td>
            <td>{{ issue.issuer }}</td>
            <td>{{ issue.type }}</td>
            <td>{{ issue.humanized_sum }}</td>
            <td>{{ issue.humanized_status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
</nav>
{% endblock %}
