{% extends 'marer/cabinet/layout_dashboard.html' %}

{% block cabinet_dashboard_content %}
<div class="pull-right">
{#    <form style="display: inline">#}
{#        <div class="btn-group" role="group">#}
{#            <label>{{ filter_form.fpgrp.label }}</label>#}
{#        </div>#}
{#        <div class="btn-group" role="group" aria-label="{{ filter_form.fpgrp.label }}">#}
{#            {{ filter_form.fpgrp }}#}
{#        </div>#}
{#        &nbsp;#}
{#        &nbsp;#}
{#        <div class="btn-group" role="group">#}
{#            <label>{{ filter_form.status.label }}</label>#}
{#        </div>#}
{#        <div class="btn-group" role="group" aria-label="{{ filter_form.status.label }}">#}
{#            {{ filter_form.status }}#}
{#        </div>#}
{#    </form>#}
    <div class="btn-group" role="group" aria-label="Статус заявки">
        <a class="btn btn-yellow" href="{% url 'issue_new' %}" role="button">Создать заявку</a>
    </div>
</div>
<div class="clearfix"></div>
<br/>

<div class="panel panel-info">
    <table class="table">
        <tr class="bg-info">
            <th>Номер</th>
            <th>Организация</th>
            <th>Сумма</th>
            <th>Статус</th>
        </tr>

        {% for issue in issues %}
        <tr>
            <td>
                <a href="{% url 'cabinet_request' issue.id %}">{{ issue.humanized_id }}</a>
            </td>
            <td>{{ issue.get_issuer_name }}</td>
            <td>{{ issue.humanized_sum }}</td>
            <td>{{ issue.humanized_status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if issues.has_other_pages %}
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            {% if issues.has_previous %}
                <li>
                    {% if issues.contacts.previous_page_number == 1 %}
                        <a href="{% url 'cabinet_requests' %}" aria-label="Previous">
                            <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-left"></span>
                        </a>
                    {% else %}
                        <a href="{% url 'cabinet_requests' %}?page={{ issues.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-left"></span>
                        </a>
                    {% endif %}
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-left"></span>
                </li>
            {% endif %}
            {% for pagenum in issues.paginator.page_range %}
                <li {% if issues.number == pagenum %}class="active"{% endif %}>
                    <a
                            {% if pagenum == 1 %}
                                href="{% url 'cabinet_requests' %}"
                            {% else %}
                                href="{% url 'cabinet_requests' %}?page={{ pagenum }}"
                            {% endif %}
                    >{{ pagenum }}</a>
                </li>
            {% endfor %}
            {% if issues.has_next %}
                <li>
                    <a href="{% url 'cabinet_requests' %}?page={{ issues.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-right"></span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}
