{% if form.errors or form.non_field_errors %}

    <div class="ordererror">
        <div>Проверьте правильность заполнения полей</div>
        {% for field in form %}
            {% if field.errors %}
                <div>
                    <strong>{{ field.label }}</strong>
                    <small>{{ field.errors }}</small>
                </div>
            {% endif %}
        {% endfor %}
        <div>
            <small>
                {{ form.non_field_errors }}
            </small>
        </div>
    </div>
{% endif %}
