{% extends 'marer/layout_public.html' %}

{% block public_content %}
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="h4">Быстрая заявка</span>
                </div>
                <div class="panel-body">
                    {% include 'marer/quick_request_form.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Лучшие продукты для вашего бизнеса</span><br>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг кредитов</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг банковских гарантий</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг вкладов</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
