{% extends 'marer/layout_public.html' %}

{% load staticfiles %}

{% block public_content %}
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="h4">Быстрая заявка</span>
                </div>
                <div class="panel-body">
                    {% include 'marer/quick_request_form.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Лучшие продукты для вашего бизнеса</span><br>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг кредитов</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг банковских гарантий</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг вкладов</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="h3">О компании</div>
            <p class="text-justify">
                Межотраслевое агентство регионального экономического развития
                было основано в 2014 году как организация,  осуществляющая
                комплексную поддержку малым и среднем предприятиям на
                региональном и на федеральном уровне.
            </p>
            <p class="text-justify">Основная деятельность Агентства направлена на обеспечение финансовой, юридической и социальной поддержки, а также налаживанию внутрикорпоративных связей, позволяющих малым и средним предприятиям достойно конкурировать на российском рынке.</p>
            <p class="text-justify">Агентство МАРЭР сотрудничает с различными общественными организациями, региональными администрациями, реализуя значимые проекты на уровне отдельных предприятий и целых регионов.  
            <p class="text-justify">Через свои филиалы и представительства Агентство может организовывать помощь в проведении аудита, подбору тендеров на участие в государственных и коммерческих контрактах, подготовке тендерной документации, подбору финансовых инструментов для реализации любых проектов.</p>
            <p class="text-justify">Важной особенностью Агентства является возможность структурирования многосторонних схем привлечения инвестиционных ресурсов, включая существующие государственные программы финансовой поддержки, субсидий, венчурных фондов и частных инвестиций.</p>
        </div>
        <div class="col-md-2 text-right">
            <div class="h3">Мы в соцсетях</div>
            <p>
                <a href="https://www.facebook.com/groups/marer.ru/">
                    Facebook
                    <img src="{% static 'marer/img/social/fb.svg' %}" height="16" />
                </a>
            </p>
            <p>
                <a href="https://vk.com/marerru">
                    Вконтакте
                    <img src="{% static 'marer/img/social/vk.svg' %}" height="16" />
                </a>
            </p>
        </div>
    </div>
{% endblock %}
