{% extends 'marer/layout_public.html' %}

{% load staticfiles %}

{% block public_content %}
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="h4">Быстрая заявка</span>
                </div>
                <div class="panel-body">
                    {% include 'marer/quick_request_form.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Лучшие продукты для вашего бизнеса</span><br>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body" style="height: 135px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг кредитов</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг банковских гарантий</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Рейтинг вкладов</div>
                <table class="table">
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                    <tr><td>Кредит МСБ до 2 млн. руб.</td><td>от 12%</td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="h3">О компании</div>
            <p class="text-justify">
                Межотраслевое агентство регионального экономического развития
                было основано в 2014 году как организация,  осуществляющая
                комплексную поддержку малым и среднем предприятиям на
                региональном и на федеральном уровне. Основная деятельность
                Агентства направлена на обеспечение финансовой, юридической и
                социальной поддержки, а также налаживанию внутрикорпоративных
                связей, позволяющих малым и средним предприятиям достойно
                конкурировать на российском рынке.
            </p>
            <p class="text-justify">
                Агентство МАРЭР сотрудничает с различными общественными
                организациями, региональными администрациями, реализуя
                значимые проекты на уровне отдельных предприятий и целых
                регионов. Через свои филиалы и представительства Агентство
                может организовывать помощь в проведении аудита, подбору
                тендеров на участие в государственных и коммерческих
                контрактах, подготовке тендерной документации, подбору
                финансовых инструментов для реализации любых проектов. Важной
                особенностью Агентства является возможность структурирования
                многосторонних схем привлечения инвестиционных ресурсов,
                включая существующие государственные программы финансовой
                поддержки, субсидий, венчурных фондов и частных инвестиций.
            </p>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="h3">Мы в соцсетях</div>
                    <p>
                        <a href="https://www.facebook.com/groups/marer.ru/">
                            <img src="{% static 'marer/img/social/fb.svg' %}" height="16" />
                            Facebook
                        </a>
                    </p>
                    <p>
                        <a href="https://vk.com/marerru">
                            <img src="{% static 'marer/img/social/vk.svg' %}" height="16" />
                            Вконтакте
                        </a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="h3">Проекты</div>
                    <p>
                        <a href="https://inspectrum.su/">
                            <img src="https://inspectrum.su/static/portal/img/favicon.ico" height="16" />
                            Inspectrum
                        </a>
                    </p>
                    <p>
                        <a href="http://www.inspectrum.org/">
                            <img src="http://static.wixstatic.com/media/b16fac_3f5bf2059ba34bd181f5444ceba4d824~mv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/b16fac_3f5bf2059ba34bd181f5444ceba4d824~mv2.png" height="16" />
                            Assistance
                        </a>
                    </p>
                    <p>
                        <a href="http://raitstudio.ru/">
                            <img src="http://raitstudio.ru/images/58a61fa76ad309e92b71d000_3.png" height="16" />
                            Студия РАЙТ
                        </a>
                    </p>
                    <p>
                        <a href="http://inspector.su/">
                            <img src="http://inspector.su/static/inspector/img/favicon.ico" height="16" />
                            Inspector
                        </a>
                    </p>
                    <p>
                        <a href="https://inspectrum.su/witness">
                            <img src="https://inspectrum.su/static/portal/img/favicon.ico" height="16" />
                            Witness
                        </a>
                    </p>
                    <p>
                        <a href="https://inspectrum.su/innetwork">
                            <img src="https://inspectrum.su/static/innetwork/images/favicon.ico" height="16" />
                            InNetwork
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
