<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
    {% load staticfiles %}
    <title>МАРЭР</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/marer/fonts/DINPro-Regular.css' %}" rel="stylesheet">
    <link href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
{#        <link href="{% static '/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">#}
{#        <link href="{% static '/bootstrap/dist/bootstrap-theme-superhero.min.css' %}" rel="stylesheet">#}
{#        <link href="{% static '/bootstrap/dist/bootstrap-theme-cyborg.min.css' %}" rel="stylesheet">#}
{#        <link href="{% static '/bootstrap/dist/bootstrap-theme-solarized.min.css' %}" rel="stylesheet">#}
    {% block head_additional %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>