<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
  <meta charset="utf-8" />
  <title>Факторинг от МАРЭР</title>
  <meta content="МАРЭР Страница" property="og:title" />

    <!-- favicon set -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'marer/img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'marer/img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'marer/img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'marer/img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'marer/img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'marer/img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'marer/img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'marer/img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'marer/img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'marer/img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'marer/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'marer/img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'marer/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'marer/img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'marer/img/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->
  <script type="text/javascript">
  !function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);
  </script>
  <link href="{% static 'nspp/images/59d5e1da0116ac000196fa56_small.png' %}" rel="shortcut icon" type="image/x-icon" />
  <link href="{% static 'nspp/images/59d5e1d90116ac000196fa55_big.png' %}" rel="apple-touch-icon" />
  <link rel="stylesheet" type="text/css" href="{% static 'nspp/css/style.css' %}">
  <link href="{% static '/marer/css/suggestions.css' %}" rel="stylesheet">
</head>

<body class="body">
  <div data-ix="orderappear" class="poporder">
    <div class="poporderwrap">
      <div class="poporderblock">
        <h2 class="orderheader">Время побеждать</h2>
        <div class="ordersubheader">Оставьте заявку прямо сейчас и мы свяжемся с вами</div>
        <div class="orderbig">
          <div class="form-block">
            <form class="startorderform" method="post">
                  {% csrf_token %}
                    <div class="lpordercheck">
                    {{ quick_request_form.product }}
                    {{ quick_request_form.party }}

                    {{ quick_request_form.party_ogrn }}
                    {{ quick_request_form.party_inn }}
                    {{ quick_request_form.party_kpp }}
                    {{ quick_request_form.party_okved }}
                    {{ quick_request_form.party_okopf }}

                    {{ quick_request_form.party_full_name }}
                    {{ quick_request_form.party_short_name }}
                    {{ quick_request_form.party_foreign_name }}
                    {{ quick_request_form.party_legal_address }}

                    {{ quick_request_form.party_head_fio }}
                    {{ quick_request_form.party_head_position }}

                    {{ quick_request_form.contact_person_name }}
                    {{ quick_request_form.contact_phone }}
                    {{ quick_request_form.contact_email }}
                    </div>

                <input type="submit" value="Отправить заявку" class="lpordersubmit submit w-button" />
              </form>
            {% include 'marer/form_errors.html' with form=quick_request_form %}
          </div>
        </div>
      </div>
    </div>
    <div class="poporderback">
      <a href="#" data-ix="orderclose" class="poporderx w-inline-block">
        <img src="{% static 'nspp/images/59de20a569f6bf0001438728_x.png' %}" width="80" />
      </a>
    </div>
  </div>
  <div data-ix="orderappear" class="popvideo">
    <div class="poporderwrap">
      <div class="popvideoblock">
        <div style="padding-top:56.17021276595745%;" class="w-embed w-video">
          <iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F7t83RaGLxyk%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D7t83RaGLxyk&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F7t83RaGLxyk%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" frameborder="0" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    <div class="poporderback">
      <a href="#" data-ix="orderclose" class="poporderx w-inline-block">
        <img src="{% static 'nspp/images/59de20a569f6bf0001438728_x.png' %}" width="80" />
      </a>
    </div>
  </div>
  <div data-ix="fixappear" class="fix">
    <div class="fixwrapper">
      <div class="container">
        <div class="headerfix">
          <a href="#top" class="gotop w-inline-block">
            <div class="arrowtop">right</div>
          </a>
          <a href="{% url 'index' %}" class="logo w-inline-block">
            <img src="{% static 'nspp/images/59d5eba096577900017a292d_logo.png' %}" width="159" />
            <div class="logotext">
              <div class="logotexttop">Межотраслевое агентство</div>
              <div class="logotextbottom">регионального экономического развития</div>
            </div>
          </a>
          <a href="#" data-ix="orderopen" class="toporder">Подать заявку</a>
        </div>
      </div>
    </div>
  </div>
  <div data-ix="menuappear" class="mobimenu">
    <div class="mobilinks">
        {% for product in finance_product_roots %}
            <a href="{% url 'finance_product' product.id %}" class="menulink">{{ product.name }}</a>
        {% endfor %}
      <a data-ix="orderopen" class="mobi toporder">Подать заявку</a>
      {% if request.user.is_authenticated %}
          <a href="{% url 'cabinet_requests' %}" class="menulink loginlink">
              {{ request.user.get_full_name }} <span class="usericon">user</span>
          </a>
      {% else %}
          <a href="{% url 'register' %}" class="menulink registrationlink">Регистрация</a>
          <a href="{% url 'login' %}" class="menulink loginlink">Войти <span class="usericon">user</span></a>
      {% endif %}
      <div class="phonenumbermobi">+7 499 404 18 68</div>
    </div>
  </div>
  <div class="lphero" style="background-image: url('{% static 'nspp/images/backfactoring.jpg' %}');">
    <div class="container">
      <div class="header">
        <div class="headertop">
          <a href="{% url 'index' %}" class="logo w-inline-block">
            <img src="{% static 'nspp/images/59ec9b809d16950001e27b57_logowhite.png' %}" width="159" />
            <div class="logotext lp">
              <div class="logotexttop">Межотраслевое агентство</div>
              <div class="logotextbottom">регионального экономического развития</div>
            </div>
          </a>
          <div class="phone">
            <div class="lp phonenumber">+7 499 404 18 68</div>
          </div>
          <a href="#" data-ix="menuopen" class="mobilink">menu</a>
        </div>
        <div class="headerbottom">
          <div class="menu">
              {% for product in finance_product_roots %}
                  <a href="{% url 'finance_product' product.id %}" class="lp menulink">{{ product.name }}</a>
              {% endfor %}
          </div>
          <div class="menuprofile">
              {% if request.user.is_authenticated %}
                  <a href="{% url 'cabinet_requests' %}" class="lp loginlink">
                      {{ request.user.get_full_name }} <span class="lp usericon">user</span>
                  </a>
              {% else %}
                  <a href="{% url 'register' %}" class="lp registrationlink">Регистрация</a>
                  <a href="{% url 'login' %}" class="lp loginlink">Войти <span class="usericon">user</span></a>
              {% endif %}
          </div>
        </div>
        <div class="logotext lp mobi">
          <div class="logotexttop">Межотраслевое агентство</div>
          <div class="logotextbottom">регионального экономического развития</div>
        </div>
      </div>
      <div class="lpheroinfo">
        <div class="lpheroinfoblock">
          <h1 class="lpheroheadeer">Факторинг</h1>
          <div class="lpherosubheader">Наш опыт и узкая специализация — ключ к успешному решению ваших задач</div>
          <a href="#" data-ix="orderopen" class="lporder submit">Заказать факторинг</a>
        </div>
{#        <a href="#" data-ix="videoopen" class="lpherovideo w-inline-block">#}
{#          <div>Видеообращение гендиректора</div>#}
{#          <div class="lpherovideoblock">#}
{#            <img src="{% static 'nspp/images/59eca70436e5a0000168cd6d_dude.png' %}" />#}
{#            <img src="{% static 'nspp/images/59d5eba1e966f40001436403_play.png' %}" class="lpherovideoplay" />#}
{#          </div>#}
{#        </a>#}
      </div>
    </div>
  </div>
  <div class="lpfeatures">
    <div class="container">
      <h2>Первоклассный сервис</h2>
      <div class="featuresblock">
        <div class="featureitem">
          <div class="featureitemicon">
            <img src="{% static 'nspp/images/59d5eb9d96577900017a2928_file402x.png' %}" width="32.5" />
          </div>
          <div class="featureitemtext">Минимальный пакет документов</div>
        </div>
        <div class="featureitem">
          <div class="featureitemicon">
            <img src="{% static 'nspp/images/money.png' %}" width="42" />
          </div>
          <div class="featureitemtext">Выплата финансирования в размере до&nbsp;100% от&nbsp;суммы поставки</div>
        </div>
        <div class="featureitem">
          <div class="featureitemicon">
            <img src="{% static 'nspp/images/59ecacccf4f8560001ca30d1_electrodoc.png' %}" width="33" />
          </div>
          <div class="featureitemtext">Электронный документооборот</div>
        </div>
        <div class="featureitem">
          <div class="featureitemicon">
            <img src="{% static 'nspp/images/59ecaccd9d16950001e286b5_nohouse.png' %}" width="42" />
          </div>
          <div class="featureitemtext">Без залога и поручительства</div>
        </div>
        <div class="featureitem">
          <div class="featureitemicon">
            <img src="{% static 'nspp/images/180days.png' %}" width="41.5" />
          </div>
          <div class="featureitemtext">Отсрочка платежа до&nbsp;180 календарных дней и дополнительный льготный период до&nbsp;выдачи гарантии</div>
        </div>
        <div class="featureitem">
          <div class="featureitemicon">
            <img src="{% static 'nspp/images/59d5eba2e966f40001436404_user402x.png' %}" width="41" />
          </div>
          <div class="featureitemtext">Персональный менеджер</div>
        </div>
      </div>
    </div>
  </div>
  <div class="lpbgs">
    <div class="container">
      <h2>Все виды факторинга</h2>
      <div class="lpbgsblock">
        <div class="bankgarant">
          <div class="bankgarantheader">Классический факторинг</div>
          <ul class="bankgarantlist w-list-unstyled">
            <li class="bankgarantitem">
              <div>Факторинг с правом регресса нацелен на Поставщиков, испытывающих потребность в оборотных средствах. При классическом факторинге Поставщик получает финансирование от Банка в обмен на уступку денежного требования к Покупателю за отгруженный товар или оказанные услуги. Покупатель уведомляется о состоявшейся уступке. При невозможности Покупателя исполнить обязательства перед Банком финансирование погашается Поставщиком.</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Выплата финансирования в размере до 100% от суммы поставки</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Финансирование поставок на условиях отсрочки платежа до 180 дней</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Предоставление льготного периода ожидания платежа — 30 дней</div>
            </li>
          </ul>
          <a href="#" data-ix="orderopen" class="lporder submit">Отправить заявку</a>
        </div>
        <div class="bankgarant">
          <div class="bankgarantheader">Конфиденциальный факторинг</div>
          <ul class="bankgarantlist w-list-unstyled">
            <li class="bankgarantitem">
              <div>Нацелен на Поставщиков, испытывающих потребность в оборотных средствах, но у которых Покупатели не желают участвовать в факторинговых схемах. Принципиальным отличием является отсутствие условий по обязательному уведомлению Покупателей об уступке денежных требований Банку. Обязательным условием является открытие Поставщиком расчетного счета и перевод на него денежных средств от Покупателя, денежные средства которого уступаются Московскому Кредитному Банку.</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Отсутствие уведомления Покупателя об уступке</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Финансирование поставок по тендерным контрактам</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Выплата финансирования в размере до 95% от суммы поставки</div>
            </li>
          </ul>
          <a href="#" data-ix="orderopen" class="lporder submit">Отправить заявку</a>
        </div>
        <div class="bankgarant">
          <div class="bankgarantheader">Бездокументарный факторинг</div>
          <ul class="bankgarantlist w-list-unstyled">
            <li class="bankgarantitem">
              <div>Дополнительная услуга, нацеленная на Поставщиков, не имеющих возможность оперативно предоставлять Банку товарно-сопроводительные документы. Избавляет от необходимости передачи в Банк документов, подтверждающих факт совершения поставки, оказания услуг или выполнения работ. Предоставляет возможность организовать весь документооборот между Банком и поставщиком в электронном виде.</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Отсутствие необходимости предоставления документов в Банк</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Снижение затрат на доставку документов в Банк</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Выплата финансирования в размере до 95% от суммы поставки</div>
            </li>
          </ul>
          <a href="#" data-ix="orderopen" class="lporder submit">Отправить заявку</a>
        </div>
        <div class="bankgarant">
          <div class="bankgarantheader">Безрегрессный факторинг</div>
          <ul class="bankgarantlist w-list-unstyled">
            <li class="bankgarantitem">
              <div>Нацелен на Поставщиков, которые хотят избежать рисков неплатежа со стороны Покупателей. Поставщик получает финансирование от Банка в обмен на уступку денежного требования к Покупателю. Риск возможного неисполнения обязательств Покупателем полностью берет на себя Банк.</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Защита от риска неплатежа со стороны Покупателя</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Выплата финансирования в размере до 100% от суммы поставки</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Гарантированные лимиты на крупных Покупателей</div>
            </li>
          </ul>
          <a href="#" data-ix="orderopen" class="lporder submit">Отправить заявку</a>
        </div>
        <div class="bankgarant">
          <div class="bankgarantheader">Реверсивный факторинг</div>
          <ul class="bankgarantlist w-list-unstyled">
            <li class="bankgarantitem">
              <div>Реверсивный факторинг разработан специально для покупателей товаров и услуг, желающих получить или увеличить отсрочку платежа. Именно поэтому реверсивный факторинг также часто называют закупочным факторингом, обратным факторингом или факторингом для покупателя. В рамках трехстороннего договора факторингового обслуживания расходы по оплате комиссии или ее части может нести как Покупатель так и Поставщик.</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Принятие Банком риска неплатежа со стороны Покупателя;</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Финансирование поставок на условиях отсрочки платежа до 180 дней</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Выплата финансирования в размере до 100% от суммы поставки</div>
            </li>
          </ul>
          <a href="#" data-ix="orderopen" class="lporder submit">Отправить заявку</a>
        </div>
        <div class="bankgarant">
          <div class="bankgarantheader">Дополнительная отсрочка платежа дебитору</div>
          <ul class="bankgarantlist w-list-unstyled">
            <li class="bankgarantitem">
              <div>Нацелен на Покупателей, желающих получить или увеличить отсрочку платежа. Соглашение между Банком и Покупателем не нужно согласовывать с Поставщиком. Расходы по оплате комиссии за предоставленную отсрочку несет Покупатель.</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Выплата финансирования в размере до 100% от суммы поставки</div>
            </li>
            <li class="bankgarantitem">
              <div class="bullet">—</div>
              <div>Финансирование поставок на условиях отсрочки платежа до 150 дней</div>
            </li>
          </ul>
          <a href="#" data-ix="orderopen" class="lporder submit">Отправить заявку</a>
        </div>
      </div>
    </div>
  </div>
{#  <div class="lpwhite">#}
{#    <div class="container">#}
{#      <div class="lpaboutvideo">#}
{#        <div class="lpaboutvideoinfo">#}
{#          <div class="lpaboutvideoheader">Все этапы оформления заявки в нашем обучающем видео</div>#}
{#          <div class="lpaboutvideotext">0% клиентов пострадали вследствие отзыва у банков лицензий</div>#}
{#        </div>#}
{#        <div class="videoblock">#}
{#          <a href="#" class="videoaboutpreview w-inline-block">#}
{#            <div class="videoaboutplay">#}
{#              <img src="{% static 'nspp/images/59d5eba1e966f40001436403_play.png' %}" width="122" class="videoplayicon" />#}
{#              <div>Видеообращение#}
{#                <br/>гендиректора</div>#}
{#            </div>#}
{#          </a>#}
{#          <div class="videoclip">#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="lpcalc">#}
{#        <div class="lpcalcheader">Рассчитайте стоимость</div>#}
{#        <div class="lpcalcform w-form">#}
{#          <form id="wf-form-" name="wf-form-" data-name="Кулькулятор">#}
{#            <div class="lpcalcforms">#}
{#              <div class="lpcalcinput type">#}
{#                <label for="node-10" class="lpcalclabel">Тип</label>#}
{#                <select id="node-10" data-name="Тип" class="garantselect input w-select">#}
{#                  <option value="">Обеспечение гарантийных обязательств</option>#}
{#                  <option value="First">Обеспечение участия</option>#}
{#                  <option value="Second">Возврат аванса</option>#}
{#                </select>#}
{#              </div>#}
{#              <div class="lpcalcinput">#}
{#                <label for="node-3" class="lpcalclabel">Сумма</label>#}
{#                <div class="lpcalcinputrubl">й</div>#}
{#                <input type="text" id="node-3" data-name="Сумма" value="100 000" maxlength="256" class="input w-input" />#}
{#                <div class="inputbar">#}
{#                  <div class="inputbarbutton">#}
{#                    <img src="{% static 'nspp/images/59ecaccbf4f8560001ca30d0_barArrow.png' %}" width="18" class="image" />#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="lpcalcinput">#}
{#                <label for="name-2" class="lpcalclabel">Срок</label>#}
{#                <div class="lpcalcinputmenu">#}
{#                  <a href="#" class="current lpcalclink">дней</a><a href="#" class="lpcalclink">месяцев</a><a href="#" class="lpcalclink">лет</a>#}
{#                </div>#}
{#                <input type="text" id="node-2" data-name="Срок" value="24" maxlength="256" class="input w-input" />#}
{#                <div class="inputbar">#}
{#                  <div class="inputbarbutton">#}
{#                    <img src="{% static 'nspp/images/59ecaccbf4f8560001ca30d0_barArrow.png' %}" width="18" class="image" />#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="lpcalcinfo">#}
{#              <div class="lpcalcsum">#}
{#                <div class="lpcalcsumtext">Ориентировочная стоимость</div>#}
{#                <div class="lpcalcsumnum">~100 000<span class="rubl">й</span></div>#}
{#              </div>#}
{#              <div class="lpcalctext">Точную сумму сделки просчитывает менеджер, её формирование зависит от финансового положения компании, требований заказчика к банку, условий заключаемого контракта и прочее.</div>#}
{#              <input type="submit" value="Оставить заявку" data-wait="Секунду..." class="lpcalcsubmit submit w-button" />#}
{#            </div>#}
{#          </form>#}
{#          <div class="success w-form-done">#}
{#            <div>Спасибо! Скоро мы с вами свяжемся.</div>#}
{#          </div>#}
{#          <div class="error w-form-fail">#}
{#            <div>Что то пошло не так. Проверьте соединение.</div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
  <div class="stages">
    <div class="container">
      <h2>Как получить</h2>
      <div class="stagesblock">
        <div class="stagesline">
        </div>
        <div class="stageitem">
          <div class="firststage stagenum">
            <div>1</div>
          </div>
          <a href="#" data-ix="orderopen" class="stageorder submit">Отправить заявку</a>
          <div class="stageminitext">прямо сейчас за 2 минуты</div>
        </div>
        <div class="stageitem">
          <div class="secondstage stagenum">
            <div>2</div>
          </div>
          <div class="text-block">Укажите данные организации и загрузите необходимые документы</div>
        </div>
        <div class="stageitem">
          <div class="stagenum thirdstage">
            <div>3</div>
          </div>
          <div>Выберите лучшее предложение от банка или факторинговой компании</div>
        </div>
        <div class="stageitem">
          <div class="fourthstage stagenum">
            <div>4</div>
          </div>
          <div>Получите итоговые документы
            <br/>и финансирование!</div>
        </div>
      </div>
    </div>
  </div>
  <div id="order" class="order">
    <div class="container">
      <h2 class="orderheader">Оставьте заявку</h2>
      <div class="ordersubheader">Заполните форму и наш менеджер свяжется с вами в рабочее время</div>
      <div class="orderbig">
        <div class="form-block">
          <form class="startorderform" method="post">
              {% csrf_token %}

                    {{ quick_request_form.product }}
                    {{ quick_request_form.party }}

                    {{ quick_request_form.party_ogrn }}
                    {{ quick_request_form.party_inn }}
                    {{ quick_request_form.party_kpp }}
                    {{ quick_request_form.party_okved }}
                    {{ quick_request_form.party_okopf }}

                    {{ quick_request_form.party_full_name }}
                    {{ quick_request_form.party_short_name }}
                    {{ quick_request_form.party_foreign_name }}
                    {{ quick_request_form.party_legal_address }}

                    {{ quick_request_form.party_head_fio }}
                    {{ quick_request_form.party_head_position }}

                    {{ quick_request_form.contact_person_name }}
                    {{ quick_request_form.contact_phone }}
                    {{ quick_request_form.contact_email }}

                <input type="submit" value="Отправить заявку" class="ordersubmit submit w-button" />
              </form>
            {% include 'marer/form_errors.html' with form=quick_request_form %}

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="footermenu">
          {% for sp in static_pages %}
              <a href="{% url 'static_page' sp.id %}" class="footerlink">{{ sp.name }}</a>
          {% endfor %}
      </div>
      <div class="footersocial">
        <a rel="nofollow" target="_blank" href="https://vk.com/marerru" class="footersociallink">vk</a>
        <a rel="nofollow" target="_blank" href="https://www.facebook.com/marer.ru/" class="footersociallink">facebook</a>
{#        <a href="#" class="footersociallink">twitter</a>#}
{#        <a href="#" class="footersociallink">youtube</a>#}
      </div>
      <div class="footertext w-clearfix">
          © ООО «МАРЭР», 2017.
          При использовании материалов гиперссылка на marer.ru обязательна.
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="{% static 'nspp/js/script.js' %}" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.suggestions/16.8/js/jquery.suggestions.min.js"></script>
  <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

<script type="text/javascript">
    $(document).ready(function(){
        $('[href*="brandjs"]').attr('style', 'display:none !important');

                // dadata
        $('.party').suggestions({
            serviceUrl: 'https://suggestions.dadata.ru/suggestions/api/4_1/rs',
            token:      '{{ dadata_token }}',
            type:       'PARTY',
            count:      7,

            onSelect: function (suggestion) {
                $("input[name='party_ogrn']").val(suggestion.data.ogrn);
                $("input[name='party_inn']").val(suggestion.data.inn);
                $("input[name='party_kpp']").val(suggestion.data.kpp);
                $("input[name='party_okved']").val(suggestion.data.okved);
                $("input[name='party_okopf']").val(suggestion.data.okopf);

                $("input[name='party_full_name']").val(suggestion.data.name.full_with_opf);
                $("input[name='party_short_name']").val(suggestion.data.name.short_with_opf);
                $("input[name='party_foreign_name']").val(suggestion.data.name.latin);

                $("input[name='party_legal_address']").val(suggestion.data.address.value);
                $("input[name='party_head_fio']").val(suggestion.data.management.name);
                $("input[name='party_head_position']").val(suggestion.data.management.post);
            },
        });
    });
</script>
{% include 'marer/counters.html' %}
</body>

</html>
