<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.finance_product.label }}</label>
                {{ quick_request_form.finance_product }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.issuer.label }}</label>
                {{ quick_request_form.issuer }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.contact_person_name.label }}</label>
                {{ quick_request_form.contact_person_name }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.contact_phone.label }}</label>
                {{ quick_request_form.contact_phone }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.contact_email.label }}</label>
                {{ quick_request_form.contact_email }}
            </div>
        </div>
    </div>
    {% include 'marer/form_errors.html' with form=quick_request_form %}
    <div class="form-row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary center-block">Отправить</button>
        </div>
    </div>
</form>
