<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.product.label }}</label>
                {{ quick_request_form.product }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.party.label }}</label>
                {{ quick_request_form.party }}

                {{ quick_request_form.party_ogrn }}
                {{ quick_request_form.party_inn }}
                {{ quick_request_form.party_kpp }}
                {{ quick_request_form.party_okved }}
                {{ quick_request_form.party_okopf }}

                {{ quick_request_form.party_full_name }}
                {{ quick_request_form.party_short_name }}
                {{ quick_request_form.party_foreign_name }}
                {{ quick_request_form.party_legal_address }}

                {{ quick_request_form.party_head_fio }}
                {{ quick_request_form.party_head_position }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.contact_person_name.label }}</label>
                {{ quick_request_form.contact_person_name }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.contact_phone.label }}</label>
                {{ quick_request_form.contact_phone }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                <label>{{ quick_request_form.contact_email.label }}</label>
                {{ quick_request_form.contact_email }}
            </div>
        </div>
    </div>
    {% include 'marer/form_errors.html' with form=quick_request_form %}
    <div class="form-row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary center-block">Отправить</button>
        </div>
    </div>
</form>
