{% extends 'mail/base.html' %}

{% block content %}
    <tr>
        <td class="plr-20" bgcolor="#f9f9f9"
            style="padding:30px 48px; font:18px/25px DINPro, Arial, Helvetica, sans-serif; color:#757c83;">
            <p>Вам отправили документы для согласования</p>
            <p>Документы можно скачать по ссылке:</p>
            <p>
                <a href="http://sgbgarant.ru{% url 'issue_remote_add_docs_requests' issue_id %}">
                    Ссылка для просмотра и скачивания документов для согласования
                </a>
            </p>
        </td>
    </tr>

{% endblock %}