{% extends 'marer/layout.html' %}

{% load staticfiles %}

{% block head_additional %}
    <link href="{% static '/marer/css/vertical-center.css' %}" rel="stylesheet">
    <link href="{% static '/marer/css/no-text-decoration.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="text-center">
                        <a href="{% url 'index' %}" class="no-text-decoration">
                            <img src="{% static 'marer/img/logo_sgb.png' %}" height="50"/>
                        </a>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                    <ul class="nav nav-tabs nav-justified">
                        <li class="{% if request.resolver_match.url_name == 'login' or request.resolver_match.url_name == 'index' %}active bg-primary{% endif %}"><a href="{% url 'login' %}">Имя и пароль</a></li>
                        <li class="{% if request.resolver_match.url_name == 'login_sign' %}active bg-primary{% endif %}"><a href="{% url 'login_sign' %}">Цифровая подпись</a></li>
                    </ul>
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="h3 text-center text-uppercase">Вход</div>
                            <br/>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{{ login_form.email.label }}</label>
                                        {{ login_form.email }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{{ login_form.password.label }}</label>
                                        {{ login_form.password }}
                                    </div>
                                </div>
                                {% include 'marer/form_errors.html' with form=login_form %}
                                <button type="submit" class="btn btn-primary center-block">Войти</button>
                            </form>
                        </div>
                    </div>
                <div>
                    <span style="font-weight: bold;display: block;text-align: center;">Для регистрации обращайтесь по телефону:</span>
                    <span style="font-weight: bold;display: block;text-align: center;">8 (499) 951-54-40 (3004)</span>
                    <span style="font-style: italic;display: block;text-align: center">Или на почту: <a href="tomail:kluchnikov@severgazbank.ru">kluchnikov@severgazbank.ru</a></span>
                </div>
{#                    <a class="btn btn-link pull-right" href="{% url 'password_reset_request' %}" role="button">Восстановить пароль</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
