{% extends 'marer/layout.html' %}

{% load staticfiles %}

{% block head_additional %}
    <link href="{% static '/marer/css/vertical-center.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Регистрация</div>
                        <div class="panel-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">{{ reg_form.first_name.label }}</label>
                                        {{ reg_form.first_name }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">{{ reg_form.last_name.label }}</label>
                                        {{ reg_form.last_name }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{{ reg_form.phone.label }}</label>
                                        {{ reg_form.phone }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{{ reg_form.email.label }}</label>
                                        {{ reg_form.email }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">{{ reg_form.password.label }}</label>
                                        {{ reg_form.password }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">{{ reg_form.password_repeat.label }}</label>
                                        {{ reg_form.password_repeat }}
                                    </div>
                                </div>
                                {% include 'marer/form_errors.html' with form=reg_form %}
                                <button type="submit" class="btn btn-primary center-block">Зарегистрироваться</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
