{% extends "admin/change_form.html" %}

{% load staticfiles marer_admin %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery = django.jQuery
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.suggestions/16.8/js/jquery.suggestions.min.js"></script>
    <script type="text/javascript">
        django.jQuery(document).ready(function(){
            // dadata
            django.jQuery('#id_issuer_short_name').suggestions({
                serviceUrl: 'https://suggestions.dadata.ru/suggestions/api/4_1/rs',
                token:      '{% settings_value 'DADATA_TOKEN' %}',
                type:       'PARTY',
                count:      7,

                onSelect: function (suggestion) {
                    django.jQuery("input[name='issuer_short_name']").val(suggestion.data.name.short_with_opf);
                    django.jQuery("input[name='issuer_ogrn']").val(suggestion.data.ogrn);
                    django.jQuery("input[name='issuer_inn']").val(suggestion.data.inn);
                    django.jQuery("input[name='issuer_kpp']").val(suggestion.data.kpp);
                    django.jQuery("input[name='issuer_okved']").val(suggestion.data.okved);
                    django.jQuery("input[name='issuer_okopf']").val(suggestion.data.okopf);

                    django.jQuery("input[name='issuer_full_name']").val(suggestion.data.name.full_with_opf);
                    django.jQuery("input[name='issuer_short_name']").val(suggestion.data.name.short_with_opf);
                    django.jQuery("input[name='issuer_foreign_name']").val(suggestion.data.name.latin);

                    django.jQuery("input[name='issuer_legal_address']").val(suggestion.data.address.value);
                    django.jQuery("input[name='issuer_head_fio']").val(suggestion.data.management.name);
                    django.jQuery("input[name='issuer_head_position']").val(suggestion.data.management.post);
                },
            });

            // tender
            django.jQuery('#id_tender_gos_number').on('change', function () {
                var tender_gos_number = django.jQuery("input[name='tender_gos_number']").val();
                django.jQuery.getJSON('/rest/tender?format=json&gos_number=' + tender_gos_number, (data, status, xhr) => {
                    django.jQuery("input[name='tender_exec_law']").val(data.law);
                    django.jQuery("input[name='tender_placement_type']").val(data.placement_type);
                    django.jQuery("input[name='tender_publish_date']").val(data.publish_datetime);
                    django.jQuery("input[name='tender_start_cost']").val(data.start_cost);
                    django.jQuery("input[name='tender_responsible_full_name']").val(data.publisher.full_name);
                    django.jQuery("input[name='tender_responsible_legal_address']").val(data.publisher.legal_address);
                    django.jQuery("input[name='tender_responsible_inn']").val(data.publisher.inn);
                    django.jQuery("input[name='tender_responsible_kpp']").val(data.publisher.kpp);
                    django.jQuery("input[name='tender_responsible_ogrn']").val(data.publisher.ogrn);
                    django.jQuery("input[name='tender_application_ensure_cost']").val(data.application_ensure_cost);
                    django.jQuery("input[name='tender_contract_execution_ensure_cost']").val(data.contract_execution_ensure_cost);
                    django.jQuery("input[name='bg_currency']").val(data.currency_code);
                });
            })
        });

    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% static '/marer/css/suggestions.css' %}" rel="stylesheet">
    <style>
        .form-row .suggestions-input {
            width: 20em;
            box-sizing: content-box !important;
        }
    </style>
{% endblock %}
