{% extends 'bankomat/layout.html' %}

{% load staticfiles %}

{% block head_additional %}
    <link href="{% static '/bankomat/css/sticky-navbar.css' %}" rel="stylesheet">
    <link href="{% static '/bankomat/css/sticky-footer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                        Bankomat <small>все финансовые решения для бизнеса в одном портале</small>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'cabinet_requests' %}">Иван Иваныч</a></li>
                    <li><a href="{% url 'logout' %}">Выход</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {% block cabinet_content %}{% endblock %}
    {% include 'bankomat/footer.html' %}
    {% include 'bankomat/boostrap_js_body_part.html' %}
{% endblock %}
