{% extends 'bankomat/cabinet/layout.html' %}

{% block cabinet_content %}
<div class="panel panel-default">
    <table class="table">
        <tr>
            <th>Название</th>
            <th>ИНН</th>
            <th>КПП</th>
            <th>ОГРН</th>
        </tr>
        <tr><td>ООО «ААА»</td><td>1111111111</td><td>111111111</td><td>1111111111111</td></tr>
        <tr><td>ООО «ООО»</td><td>2222222222</td><td>222222222</td><td>2222222222222</td></tr>
        <tr><td>ООО «ЭЭЭ»</td><td>3333333333</td><td>333333333</td><td>3333333333333</td></tr>
        <tr><td>ООО «УУУ»</td><td>4444444444</td><td>444444444</td><td>4444444444444</td></tr>
    </table>
</div>
{% endblock %}
