{% extends 'bankomat/cabinet/layout.html' %}

{% block cabinet_content %}
<div class="panel panel-default">
    <table class="table">
        <tr>
            <th>Номер</th>
            <th>Организация</th>
            <th>Вид заявки</th>
            <th>Сумма</th>
            <th>Статус</th>
        </tr>
        <tr><td>1</td><td>ООО «ААА»</td><td>Тендерный кредит</td><td>100 500,00 руб.</td><td>Конь не валялся</td></tr>
        <tr><td>2</td><td>ООО «ААА»</td><td>Тендерный кредит</td><td>100 500,00 руб.</td><td>Конь не валялся</td></tr>
        <tr><td>3</td><td>ООО «ААА»</td><td>Тендерный кредит</td><td>100 500,00 руб.</td><td>Конь не валялся</td></tr>
        <tr><td>4</td><td>ООО «ААА»</td><td>Тендерный кредит</td><td>100 500,00 руб.</td><td>Конь не валялся</td></tr>
        <tr><td>5</td><td>ООО «ААА»</td><td>Тендерный кредит</td><td>100 500,00 руб.</td><td>Конь не валялся</td></tr>
        <tr><td>6</td><td>ООО «ААА»</td><td>Тендерный кредит</td><td>100 500,00 руб.</td><td>Конь не валялся</td></tr>
        <tr><td>7</td><td>ООО «ААА»</td><td>Тендерный кредит</td><td>100 500,00 руб.</td><td>Конь не валялся</td></tr>
    </table>
</div>
{% endblock %}
