{% extends 'mail/base.html' %}

{#Пользователю, когда менеджер от банка создает дозапрос#}

{% block content %}
    <tr>
        <td class="plr-20" bgcolor="#f9f9f9"
            style="padding:30px 48px; font:18px/25px DINPro, Arial, Helvetica, sans-serif; color:#757c83;">

            По вашей заявке №<strong>{{ issue_number }}</strong> на {{ finance_product }} для {{ issuer_short_name }},
            Менеджер банка создал дозапрос в банк {{ finance_org_name }}. Пройдите по
            <a href="http://marer.ru{% url 'issue_additional_documents_request' issue_id clarification_id %}">ссылке</a>,
            или зайдите в <a href="http://marer.ru{% url 'cabinet_requests' %}">личный кабинет</a>, чтобы посмотреть дозапрос.
        </td>
    </tr>
{% endblock %}
