{% extends 'mail/base.html' %}

{% block content %}
    <tr>
        <td class="plr-20" bgcolor="#f9f9f9"
            style="padding:30px 48px; font:18px/25px DINPro, Arial, Helvetica, sans-serif; color:#757c83;">
            <p>{{ author_role|capfirst }} добавил сообщение по дозапросу</p>
            <p>
                Номер заявки:
                <a href="http://sgbgarant.ru{% url 'issue_additional_documents_requests' issue_id %}">
                    <strong>{{ issue_number }}</strong>
                </a>
            </p>
            {% if issuer_short_name %}<p>Принципал: <strong>{{ issuer_short_name }}</strong></p>{% endif %}
            <p>Банковский продукт: <strong>{{ finance_product }}</strong></p>
            <p><a href="http://sgbgarant.ru{% url 'issue_additional_documents_requests' issue_id %}">Ссылка на заявку</a></p>
        </td>
    </tr>
{% endblock %}
